.container {
  width: 95dvw;
  max-width: 1280px;
  margin: 0 auto;

  .farmerInfo {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;

    .logo {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      overflow: hidden;
      background-color: #777;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: green;
    margin: 2rem 0;
    box-sizing: border-box;
  }
}

.offersList {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  overflow: auto;
}

.card {
  width: 100%;
  height: 450px;
}
