.label {
  @include font(1rem, 1.25rem, 600);

  select {
    &:active,
    &:focus-visible {
      outline: 1px solid lightblue;
      box-shadow: 0px -1px 12px 1px rgba(0, 85, 250, 0.28);
      -webkit-box-shadow: 0px -1px 12px 1px rgba(0, 85, 250, 0.28);
      -moz-box-shadow: 0px -1px 12px 1px rgba(0, 85, 250, 0.28);
    }

    &::placeholder {
      font-size: 1em;
    }
  }
}
