.container {
  width: 95dvw;
  max-width: 1280px;
  padding-top: 2rem;
  h1 {
    @include font(1.5rem, 2rem, 600);
    margin-bottom: 2rem;
  }
  .line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #d7dae0;
    box-sizing: border-box;
    margin-bottom: 2rem;
  }
  .wrapper {
    max-width: 30rem;
    padding: 0 3rem;
  }
}
