.header {
  height: 30rem;

  margin: 2rem auto;
  background: url(https://s1.1zoom.ru/b6853/487/Avocado_Lime_552106_3840x2400.jpg)
    no-repeat;
  background-size: cover;
  position: relative;

  .headerContents {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    // align-items: start;
    max-width: 35%;
    // bottom: 40%;

    animation: identifier;

    .headerContentsH2 {
      @include font(3rem, 3rem, 500);
      color: white;
    }

    .headerContentsP {
      color: white;
      font-size: 1rem;
    }
    .headerContentsButton {
      border: none;
      color: $baner-content-color;
      padding: 1.4rem 3rem;
      font-size: 1rem;
      border-radius: 1rem;
    }
  }
}
