.contaner {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: #fff;
  position: sticky;
  top: 4rem;
  z-index: 8;
  .search {
    position: relative;

    input {
      padding: 0 3rem;
      background-color: $background-input;
      max-width: 30rem;
      width: 60dvw;
      height: 100%;
      border-radius: 0.4rem;
      box-sizing: border-box;
      border: 1px solid $background-input;
      box-shadow: 0 10px 20px rgba(92, 89, 89, 0.04);
      @include font(1rem, 1.2rem, 400);

      &:focus {
        outline: none;
        border: 1px solid $color-input;
      }
    }
    label {
      position: absolute;
      color: --color-lable;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }
  }

  .buttonContainer {
    .glowOnHover {
      color: $color-input;
      height: 100%;
      padding: 0 1rem;
      margin-left: 0.5rem;
      cursor: pointer;
      svg {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}
