.contanerSearch {
  min-height: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .myInput {
    position: relative;
    .myInputInput {
      padding: 0 2rem;
      background-color: $background-input;
      max-width: 30rem;
      width: 70dvw;
      height: 100%;
      border-radius: 0.4rem;
      box-sizing: border-box;
      border: 1px solid $background-input;
      box-shadow: 0 10px 20px rgba(92, 89, 89, 0.04);
      font-family: 'Fira Sans';
      color: $color-input;
      font-weight: bold;
    }
  }
  .mylable {
    position: absolute;
    color: --color-lable;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
  }

  .buttonContainer {
    .glowOnHover {
      color: $color-input;
      height: 100%;
      padding: 0 1rem;
      margin-left: 0.5rem;
      svg {
        width: 1.3rem;
        height: 1.3rem;
      }
    }
  }
}
