.contanerSearch {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .myInput {
    .myInputInput {
      padding: 0 2rem;
      background-color: #f4f4f4;
      width: 30rem;
      height: 3rem;
      border-radius: 0.4rem;
      box-sizing: border-box;
      border: 1px solid #f4f4f4;
      box-shadow: 0 10px 20px rgba(92, 89, 89, 0.04);
      font-family: "Fira Sans";
      color: #151b1a;
      font-weight: bold;
    }
  }
  .mylable {
    position: absolute;
    color: #656ec2;
    font-family: "Fira Sans";

    top: 10rem;
    left: 41.5rem;
  }

  .foundGroceries {
    font-family: "Montserrat";
    color: #282626;
    padding-left: 20px;
    height: 40px;
    display: flex;
    align-items: flex-end;
  }
  .buttonContainer {
    .glowOnHover {
      color: #151b1a;
      // border: 1rem solid #96d0cd;
      padding: 1rem 1.2rem;
      margin-left: 0.5rem;
    }
  }
}
