.header {
  background-color: $background-input;
  color: $color-input;
  position: sticky;
  top: 0;
  z-index: 10;

  .container {
    width: 95dvw;
    max-width: 1280px;
    height: 4rem;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .leftgroup {
    display: flex;
    align-items: center;
    .logo {
      text-align: center;
      @include font(1rem, 1.2rem, 400);
      position: relative;
      z-index: 7;
      top: 1rem;
      div {
        padding: 0.3rem;
        border-radius: 0.5rem;
        background-color: lightgreen;
      }
    }

    .navbar {
      padding-left: 2rem;
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 1.5rem;
        font-size: 1.2rem;
      }
    }
    .burger {
      visibility: hidden;
    }
  }
  .link {
    text-decoration: none;
    @include font(1.2rem, 1.2rem, 400);

    &:hover {
      border-bottom: 2px solid #49557e;
    }
  }

  .linkActive {
    padding-bottom: 0.2rem;
    border-bottom: 2px solid #49557e;
    text-decoration: none;
    @include font(1.2rem, 1.2rem, 400);
  }

  .rightPanel {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;

    .userInfo {
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      gap: 1rem;
      @include font(1.2rem, 1.2rem, 400);
      button {
        background-color: transparent;
        @include font(1.2rem, 1.2rem, 400);
        cursor: pointer;
        border-radius: 0.5rem;
        border: none; // &:hover {
        // text-decoration: underline;
        // }
        svg {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
  }
}
@include mobile {
  .burger {
    visibility: visible;
  }
  .logo {
    text-align: center;
    @include font(1rem, 1.2rem, 400);
    position: relative;
    z-index: 7;
    top: 1rem;
    div {
      visibility: hidden;
    }
  }

  .header .rightPanel .userInfo h5 {
    display: none;
  }
}

.btn {
  background-color: transparent;
  @include font(1.2rem, 1.2rem, 400);
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
}
