.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #001529;
  color: white;

  .leftgroup {
    display: flex;
  }

  .navbar {
    padding-left: 2rem;
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 1.5rem;
    }
  }

  .link {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .linkActive {
    color: #1890ff;
    text-decoration: none;
  }

  .rightPanel {
    display: flex;
    align-items: center;

    .userInfo {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;
      gap: 0.5rem;

      button {
        background-color: transparent;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 0.5rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
