.cardSkeleton {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  cursor: pointer;

  .image {
    min-width: 100%;
    min-height: 70%;
    border-radius: 1rem;
    overflow: hidden;

    div {
      min-width: 100%;
      min-height: 100%;
    }
  }
  .details {
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .farmer {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
