.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex: 1
}

.unitPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.unit {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.price {
  margin: 0;
  font-size: 1.2rem;
  color: #e91e63;
  // white-space: nowrap;
}

.text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.description{
  flex: 1
}

.description,
.farmer {
  margin: 0;
  font-size: 1rem;
  color: #777;
  margin-bottom: 8px;
}