.container {
  height: 6rem;
  min-width: 6rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: lightgrey;
  cursor: pointer;

  h4 {
    @include font(1.2rem, 1.5rem, 500, italic, white);
  }
}

@include mobile {
  .container {
    background-color: lightgreen;
    height: 2rem;
  }
}
