/* src/components/CategoryList.module.scss */
.container {
  margin-top: 1rem;
  width: 100%;
  overflow-y: hidden;
  position: sticky;
  z-index: 8;
  top: 9rem;
  background-color: #fff;
  padding-bottom: 1rem;

  .wrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    gap: 3rem;

    .content {
      display: flex;
      overflow-x: auto;
      cursor: grab;
      user-select: none;
      padding: 10px;
      gap: 2rem;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
