/* src/components/CategoryListItem.module.scss */
.container {
  height: 6rem;
  min-width: 6rem;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  background-color: lightgrey;
  cursor: pointer;

  h4 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    font-style: italic;
    color: white;
  }
}

@include mobile {
  .container {
    background-color: lightgreen;
    height: 2rem;
  }
}
