.container {
  width: 100%;
  overflow-y: hidden;
  background-color: $bg-primary;
  position: sticky;
  z-index: 8;

  .wrapper {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    gap: 3rem;

    .content {
      padding: 1rem;
      display: flex;
      overflow-x: auto;
      cursor: grab;
      user-select: none;
      gap: 2rem;
      -ms-overflow-style: none;
      @include mobile {
        height: 3.5rem;
        padding: 0.5rem;
        gap: 1rem;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
