.container {
  margin-top: 1rem;
  width: 100%;
  overflow-y: hidden;
  .wrapper {
    width: 100%;
    overflow-y: auto;

    .content {
      display: flex;
      width: max-content;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}
